<!doctype html>
<html lang="en">
<head>
  {{ partial "site-head.html" . }}
</head>
{{ $hasToc := strings.Contains .TableOfContents "<li>" }}
<body{{ if $hasToc }} class="has-toc"{{ end }}>

<a class="skip-link" href="#content">Skip to content</a>

{{ partial "site-header.html" (dict "Page" . "HasToc" $hasToc) }}

{{ partial "site-drawer.html" (dict "Page" . "HasToc" $hasToc) }}

<main id="content"{{ if not $hasToc }} class="wide"{{ end }}>
  {{ .Content }}
</main>

{{ partial "site-footer.html" . }}

{{ partial "toc-scripts.html" . }}

</body>
</html>
