{{- $page := .Page -}}
{{- $site := $page.Site -}}
{{- $schema := $site.Params.schema | default (dict) -}}
{{- $shortTitle := .ShortTitle | default ($site.Params.shortTitle | default $site.Title) -}}
{{- $pageTitle := .PageTitle | default $page.Title -}}
{{- $metaDescription := .MetaDescription | default $site.Params.description -}}
{{- $isArticle := .IsArticle | default false -}}
{{- $isNews := .IsNews | default false -}}
{{- $isHowTo := .IsHowTo | default false -}}
{{- $isEditorialPage := or $isArticle $isNews $isHowTo -}}
{{- $siteURL := (index $schema "url" | default $site.BaseURL | absURL) -}}
{{- $siteName := index $schema "name" | default $shortTitle -}}
{{- $siteDescription := $site.Params.description | default $metaDescription -}}
{{- $logo := index $schema "logo" | default "/logo.png" -}}
{{- $schemaImage := index $schema "image" | default ($site.Params.socialImage | default "/social.png") -}}
{{- $socialImage := .SocialImage | default $schemaImage -}}
{{- $sameAs := index $schema "same_as" | default (slice) -}}
{{- $authorName := index $schema "author" | default "Matiss Treinis" -}}
{{- $authorID := index $schema "author_id" | default "author" -}}
{{- $personID := printf "%s#%s" $siteURL $authorID -}}
{{- $projectID := printf "%s#project" $siteURL -}}
{{- $brandID := printf "%s#brand" $siteURL -}}
{{- $websiteID := printf "%s#website" $siteURL -}}
{{- $softwareID := printf "%s#software" $siteURL -}}
{{- $sourceCodeID := printf "%s#source-code" $siteURL -}}
{{- $lang := $site.LanguageCode | default "en" -}}

{{- $person := dict
  "@type" "Person"
  "@id" $personID
  "name" $authorName
  "url" $siteURL
-}}

{{- $brand := dict
  "@type" "Brand"
  "@id" $brandID
  "name" $siteName
  "url" $siteURL
  "logo" (absURL $logo)
-}}

{{- $project := dict
  "@type" "Project"
  "@id" $projectID
  "name" $siteName
  "url" $siteURL
  "description" $siteDescription
  "logo" (absURL $logo)
  "image" (absURL $schemaImage)
  "brand" (dict "@id" $brandID)
  "founder" (dict "@id" $personID)
-}}
{{- if gt (len $sameAs) 0 }}{{ $project = merge $project (dict "sameAs" $sameAs) }}{{ end -}}

{{- $software := dict
  "@type" "SoftwareApplication"
  "@id" $softwareID
  "name" $siteName
  "url" $siteURL
  "description" $siteDescription
  "applicationCategory" (index $schema "application_category" | default "DeveloperApplication")
  "operatingSystem" (index $schema "operating_system" | default "Cross-platform")
  "image" (absURL $schemaImage)
  "author" (dict "@id" $personID)
  "publisher" (dict "@id" $projectID)
  "maintainer" (dict "@id" $projectID)
-}}
{{- with index $schema "license" }}{{ $software = merge $software (dict "license" .) }}{{ end -}}
{{- if gt (len $sameAs) 0 }}{{ $software = merge $software (dict "sameAs" $sameAs) }}{{ end -}}

{{- $website := dict
  "@type" "WebSite"
  "@id" $websiteID
  "url" $siteURL
  "name" $siteName
  "description" $siteDescription
  "inLanguage" $lang
  "publisher" (dict "@id" $projectID)
  "about" (slice (dict "@id" $projectID) (dict "@id" $softwareID))
-}}
{{- if gt (len $sameAs) 0 }}{{ $website = merge $website (dict "sameAs" $sameAs) }}{{ end -}}

{{- $graph := slice $website $project $brand $software $person -}}
{{- with index $schema "code_repository" -}}
  {{- $sourceCode := dict
    "@type" "SoftwareSourceCode"
    "@id" $sourceCodeID
    "name" (printf "%s source code" $siteName)
    "codeRepository" .
    "targetProduct" (dict "@id" $softwareID)
    "author" (dict "@id" $personID)
    "publisher" (dict "@id" $projectID)
    "maintainer" (dict "@id" $projectID)
  -}}
  {{- with index $schema "license" }}{{ $sourceCode = merge $sourceCode (dict "license" .) }}{{ end -}}
  {{- $graph = $graph | append $sourceCode -}}
{{- end -}}

{{- if $isEditorialPage -}}
  {{- $articleAuthor := $page.Params.author | default $authorName -}}
  {{- $articleAuthorRef := dict "@type" "Person" "name" $articleAuthor -}}
  {{- if eq $articleAuthor $authorName }}{{ $articleAuthorRef = dict "@id" $personID }}{{ end -}}
  {{- $schemaType := "BlogPosting" -}}
  {{- $schemaID := "#article" -}}
  {{- $sectionName := "Articles" -}}
  {{- $sectionURL := absURL "/articles/" -}}
  {{- if $isNews -}}
    {{- $schemaType = "NewsArticle" -}}
    {{- $schemaID = "#news" -}}
    {{- $sectionName = "News" -}}
    {{- $sectionURL = absURL "/news/" -}}
  {{- else if $isHowTo -}}
    {{- $schemaType = "HowTo" -}}
    {{- $schemaID = "#how-to" -}}
    {{- $sectionName = "How-To" -}}
    {{- $sectionURL = absURL "/how-to/" -}}
  {{- end -}}

  {{- $article := dict
    "@type" $schemaType
    "@id" (printf "%s%s" $page.Permalink $schemaID)
    "mainEntityOfPage" (dict "@type" "WebPage" "@id" $page.Permalink)
    "headline" $pageTitle
    "name" $pageTitle
    "description" $metaDescription
    "url" $page.Permalink
    "inLanguage" $lang
    "publisher" (dict "@id" $projectID)
    "image" (absURL $socialImage)
    "isPartOf" (dict "@id" $websiteID)
    "about" (slice (dict "@id" $projectID) (dict "@id" $softwareID))
  -}}
  {{- if or $isArticle $isHowTo }}{{ $article = merge $article (dict "author" $articleAuthorRef) }}{{ end -}}
  {{- if and (not $isHowTo) (not $page.Date.IsZero) }}{{ $article = merge $article (dict "datePublished" ($page.Date.Format "2006-01-02T15:04:05Z07:00")) }}{{ end -}}
  {{- if and (not $isHowTo) (not $page.Lastmod.IsZero) }}{{ $article = merge $article (dict "dateModified" ($page.Lastmod.Format "2006-01-02T15:04:05Z07:00")) }}{{ end -}}
  {{- $graph = $graph | append $article -}}

  {{- $breadcrumbItems := slice
    (dict "@type" "ListItem" "position" 1 "name" "Home" "item" $siteURL)
    (dict "@type" "ListItem" "position" 2 "name" $sectionName "item" $sectionURL)
    (dict "@type" "ListItem" "position" 3 "name" $pageTitle "item" $page.Permalink)
  -}}
  {{- if and $isHowTo (ne $page.CurrentSection.RelPermalink "/how-to/") -}}
    {{- $breadcrumbItems = slice
      (dict "@type" "ListItem" "position" 1 "name" "Home" "item" $siteURL)
      (dict "@type" "ListItem" "position" 2 "name" $sectionName "item" $sectionURL)
      (dict "@type" "ListItem" "position" 3 "name" $page.CurrentSection.Title "item" (absURL $page.CurrentSection.RelPermalink))
      (dict "@type" "ListItem" "position" 4 "name" $pageTitle "item" $page.Permalink)
    -}}
  {{- end -}}
  {{- $breadcrumb := dict
    "@type" "BreadcrumbList"
    "@id" (printf "%s#breadcrumb" $page.Permalink)
    "itemListElement" $breadcrumbItems
  -}}
  {{- $graph = $graph | append $breadcrumb -}}
{{- end -}}

{{- $jsonld := dict "@context" "https://schema.org" "@graph" $graph -}}
<script type="application/ld+json">{{ $jsonld | jsonify | safeJS }}</script>
